body {
  margin: 0;
  background-color: lavender;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.template{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.select-template{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  width: 355px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.select-template button{
  margin-top: 10px;
}
.image1{
border: 2px solid purple;
}
.image2{
border: 2px solid purple;
}
.image3{
border: 2px solid purple;
}
.image4{
border: 2px solid purple;
}
